<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>${MACOSX_BUNDLE_EXECUTABLE_NAME}</string>
    <key>CFBundleIdentifier</key>
    <string>land.loopy.LoopyMSE</string>
    <key>CFBundleIconFile</key>
    <string>${MACOSX_BUNDLE_ICONFILE}</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>${PROJECT_NAME}</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleVersion</key>
    <string>${PROJECT_VERSION}</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>SDL_FILESYSTEM_BASE_DIR_TYPE</key>
    <string>resource</string>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeName</key>
        <string>Loopy ROM</string>
        <key>CFBundleTypeIconFiles</key>
        <array/>
        <key>LSItemContentTypes</key>
        <array>
          <string>land.loopy.LoopyMSE.rom</string>
        </array>
      </dict>
    </array>
    <key>UTExportedTypeDeclarations</key>
    <array>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>land.loopy.LoopyMSE.rom</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>bin</string>
            <string>loopy</string>
          </array>
        </dict>
      </dict>
    </array>
  </dict>
</plist>